<template>
  <div>
      <h1>Lancements</h1>
      <div>
        <div v-for="luanch in launchs" v-bind:key="luanch.id">
        <h2>{{ luanch.name }}</h2>
        </div>
      </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      launchs: [] ,
    };
  },

  methods: {
    async getData() {
      try {
        let response = await fetch("https://api.spacexdata.com/v4/launches");
        this.launchs = await response.json();
        console.log(this.launchs)
      } catch (error) {
        console.log(error);
      }
    },
  },

  created() {
    this.getData();
  },
};
</script>