<template>
  <div>
      <h1>Prochain lancement</h1>
      <p>{{launchNext.name}}</p>
      <p>{{launchNext.date_utc}}</p>
      <!-- <p>{{launchNext.links.patch}}</p>
      <p>{{launchNext.links.patch.small}}</p> -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      launchNext: '',
    };
  },

  methods: {
    async getData() {
      try {
        let response = await fetch("https://api.spacexdata.com/v4/launches/next");
        this.launchNext = await response.json();
        console.log(this.launchNext)
      } catch (error) {
        console.log(error);
      }
    },
  },

  created() {
    this.getData();
  },
};
</script>