<template>
  <v-app>
    <v-main>
      <Nav />
      <NextLaunch />
      <AllLuanch />
    </v-main>
  </v-app>
</template>

<script>
import Nav from './components/Nav.vue'
import NextLaunch from './components/NextLauch.vue'
import AllLuanch from './components/AllLuanch.vue'
export default {
  name: 'App',

  components: {
    Nav,
    NextLaunch,
    AllLuanch
  },

  data: () => ({
    //
  }),
}
</script>
